/bishop.class
/board.class
/king.class
/knight.class
/main.class
/pawn.class
/piece.class
/queen.class
/rook.class
/player.class
#bruv u didn't git ignore player class
#also just create a add .gitignore while creating a repo and then add the necessary files later